
.tabs-container-body {
    min-height: 100vh;
    background-color: rgb(241, 245, 248);
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .tabs-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tabs-header-title {
            margin-bottom: 10px;
            font-size: 40px;
        }

        .underline {
            height: 4px;
            width: 100px;
            background-color: rgb(44, 174, 186);
        }
    }

    .tabs-container {
        display: flex;

        .btn-container {
            display: flex;
            flex-direction: column;

            .btn-tabs {
                border: none;
                background-color: transparent;
                padding: 20px 40px;
                font-size: 20px;
                transition: 0.5s;
            }

            .btn-tabs:hover {
                color: #5bb8d2;
                box-shadow: -1px 0px #5bb8d2;
            }

            .active-btn {
                color: #2caeba;
                box-shadow: -2px 0 #2caeba;
            }
        }
        .tabs-info{
            margin-left: 100px;
            .tabs-info-title{
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 20px;
            }
            .tabs-info-company{
                padding: 5px;
                border-radius: 4px;
                background-color: rgb(218,226,236);
                color: rgb(97,125,152);
                line-height: 8px;
                
            }
            .tabs-info-date{
                color: rgb(97,125,152);
                margin: 20px 0;
            }
            .tabs-info-text{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .fa-angles-right{
                    margin-right: 40px;
                    color: #2caeba;
                    font-size: 20px;
                }
            }
        }
    }
}